@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
h1{
    color:dimgray;
}
form{
    background-color: thistle;
    padding: 15px;
}
#part-2-container{
    background-color: gainsboro;
    border: 2px solid black;
}
#part-1{
  background-color: seashell;
  margin: auto;
  width: 30%;
}